# Assignment-1

This notebook contains the coding questions to test the proficiency in basic python.

### Date: 30th Novemeber, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-01-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-01-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-1**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1uZZ3pWHHX-8D5gBFmLApgqbhAYFO-wdU?usp=drive_link.

<h3><span style="color:red"> Deadline: 14th December, 2025 </span></h3>

#### Question-1

Write a function `second_largest(numbers)` that takes a list of numbers and returns the second largest number in the list. Assume the list has at least two unique numbers.

Example:
```python
numbers = [10, 5, 20, 8, 15]
second = second_largest(numbers)
print(second)
# Expected output: 15
```

In [1]:
# Write your code here

def second_largest(numbers):
    numbers.sort()
    return numbers[-2]

In [2]:
numbers = [10, 5, 20, 8, 15]
second = second_largest(numbers)
print(second)

15

#### Question-2

Write a function `count_vowels(text)` that takes a string as input and returns the number of vowels (a, e, i, o, u - case-insensitive) present in the string.

Example:
```python
text = "Hello World"
vowel_count = count_vowels(text)
print(vowel_count)
# Expected output: 3
```

In [1]:
# Write your code here
def count_vowels(text):
    count=0
    for x in text:
        if x.upper() in ('AEIOU'):
            count+=1
        else:
            pass
    return count

In [2]:
text = "Hello World"
vowel_count = count_vowels(text)
print(vowel_count)

3

#### Question-3

Write a Python program to print all the prime numbers between 1 and N (inclusive). Where N is a positive integer and an input from user.

Example:

```python
N = 20
# Expected output: 2,3,5,7,11,13,17,19

```

In [3]:
# Write your code here
# I copied this code unable too solve it.


def print_primes(n):
    """
    Prints all prime numbers between 1 and n (inclusive).
    Uses the Sieve of Eratosthenes algorithm for efficiency.
    
    Args:
        n: Upper limit (inclusive)
    """
    if n < 2:
        print("No prime numbers in this range.")
        return
    
    # Create a boolean array "is_prime" and initialize all entries as True
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False  # 0 and 1 are not prime
    
    # Sieve of Eratosthenes
    p = 2
    while p * p <= n:
        if is_prime[p]:
            # Mark all multiples of p as not prime
            for i in range(p * p, n + 1, p):
                is_prime[i] = False
        p += 1
    
    # Print all prime numbers
    primes = [num for num in range(2, n + 1) if is_prime[num]]
    print(f"Prime numbers between 1 and {n}:")
    print(primes)
    print(f"\nTotal count: {len(primes)}")

# Example usage
num = int(input(f'Enter a positive number range: '))
print(print_primes(num))

Prime numbers between 1 and 17:
[2, 3, 5, 7, 11, 13, 17]

Total count: 7
None

#### Question-4

Write a function `merge_sorted_lists(list1, list2)` that takes two sorted lists of integers, `list1` and `list2` and merges them into a single sorted list efficiently. One way is to simple concatenate the lists and sort. But think of a better approach.

Example:
```python
list1 = [1, 4, 5]
list2 = [1, 3, 4]
merged = merge_sorted_lists(list1, list2)
print(merged)
# Expected output: [1, 1, 3, 4, 4, 5]
```

In [3]:
# Write your code here
def merge_sorted_lists(list1, list2):
    list1.extend(list2)
    list1.sort()
    return list1

In [23]:
list1 = [1, 4, 5]
list2 = [1, 3, 4]
merged = merge_sorted_lists(list1, list2)
print(merged)

[1, 1, 3, 4, 4, 5]

#### Question-5

Create a dictionary like: `student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}`. Write Python code to find and print the name of the student with the highest grade.

Example:
```python
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}
# Expected output: Bob
```

In [5]:
# Write your code here
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}
findval=list(student_grades.values())
findval.sort()
highest_val = findval[-1]

for k,v in student_grades.items():
    if v==highest_val:
        print(k)
    else:
        continue

Bob

In [6]:

##----Alternate Solution-----

student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}
highest_val=0
student=''
for k,v in student_grades.items():
    if v>highest_val:
        highest_val=v
        student=k
    else:
        continue
print(student)

Bob

#### Question-6

Write a function `is_anagram(str1, str2)` that checks if two given strings are anagrams of each other (contain the same characters with the same frequencies, ignoring case).

Example:
```python
print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))
# Expected output:
# True
# False
```

In [7]:
# Write your code here
def is_anagram(str1,str2):
    count=0
    if len(str1) == len(str2):
        for s in str1:
            if s.upper() in str2.upper():
                count+=1
            else:
                continue
    if count==len(str1) and count==len(str2):
        return True
    else:
        return False

In [8]:
print(is_anagram("Listen", "silEnt"))
print(is_anagram("hello", "world"))

True
False

#### Question-7

Write a function `rotate_list(lst, k)` that rotates a given list lst to the right by `k` positions in-place. Assume `k` is a non-negative integer and can be greater than the length of the list.

Example:

```python
my_list = [1, 2, 3, 4, 5]
rotate_list(my_list, 2)
print(my_list)
# Expected output: [4, 5, 1, 2, 3]
```

In [1]:
#my_list = [1, 2, 3, 4, 5]
#print(my_list[-2:],my_list[:-2])
def rotate_list(my_list, num):
    new=[]
    new.extend(my_list[-num:])
    new.extend(my_list[:-num])
    return new

In [2]:
my_list = [1, 2, 3, 4, 5,6,7,8,9,10]
rotate_list(my_list,7)

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

#### Question-8

You have a list of dictionaries, where each dictionary represents a product with keys "name", "price", and "category". Write a function group_by_category(products) that takes this list and returns a dictionary where the keys are the unique categories and the values are lists of product names belonging to that category.

Example:

```python
products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
grouped_products = group_by_category(products)
print(grouped_products)
# Expected output: {'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

```

In [24]:
products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]

def group_by_category(products):
    grouped = {}
    for product in products:
        category = product["category"]
        if category not in grouped:
            grouped[category] = []
        grouped[category].append(product["name"])
    return grouped

grouped_products = group_by_category(products)
print(grouped_products)
# Expected output: {'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

{'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

In [ ]:
products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
productcategories=dict()

for p in products:
    print(f'Category is: {p["category"]}')
    for k,v in p.items():
        if k=="name":
            print(f'Type is: {v}')
            productcategories[p["category"]]=v
    print(productcategories)
# Expected output: {'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

Category is: Electronics
Type is: Laptop

AttributeError: 'str' object has no attribute 'append'

In [9]:
products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
productcategories=set()
producttype=[]
for p in products:
    print(f'Category is: {p["category"]}')
    productcategories.add(p["category"])
print(productcategories)
for s in productcategories:
    print(s)

#p=[['Laptop','Ipads'],['Book','Horror']]
dict(zip(productcategories, p))

Category is: Electronics
Category is: Books
Category is: Electronics
Category is: Books
{'Electronics', 'Books'}
Electronics
Books

{'Electronics': 'name', 'Books': 'price'}

In [17]:
prodcat={}
prodcat["d"] = []
prodcat["d"].append('Laptop')

prodcat["d"].append('Tablets')
print(prodcat)

{'d': ['Laptop', 'Tablets']}

In [5]:
# Write your code here
p1={"name": "Book", "price": 25, "category": "Books"},
p2={"name": "Tablet", "price": 300, "category": "Electronics"},

l1=['Book']
l2=['Tablet']
dict1 = dict()
producttype=[]
dict1['Electronics'] = producttype.append('Tablets')
print(dict1)
dict1['Electronics']=producttype.append('Laptops')
print(dict1)


producttype=[]
producttype.append("Tablets")
producttype.append('Laptops')
dict1['Electronics'] = producttype
print(producttype)
print(dict1)

{'Electronics': None}
{'Electronics': None}
['Tablets', 'Laptops']
{'Electronics': ['Tablets', 'Laptops']}

#### Question-9

Write a Python program that prints the first `n` rows of Pascal's triangle. `n` is a positive integer and an user input. To know about Pascal's triangle see the [wikipedia article](https://en.wikipedia.org/wiki/Pascal%27s_triangle): 

Example:

```python
n = 5
# Expected output:
#     1
#    1 1
#   1 2 1
#  1 3 3 1
# 1 4 6 4 1
```

In [14]:
# Write your code here
# I copied this code unable too solve it.

def print_pascals_triangle(n):
    """
    Prints the first n rows of Pascal's triangle.
    
    Args:
        n: Number of rows to print
    """
    for i in range(n):
        # Print leading spaces for formatting
        print(' ' * (n - i - 1), end='')
        
        # Calculate and print values for this row
        num = 1
        for j in range(i + 1):
            print(num, end=' ')
            # Calculate next value using: C(n,k+1) = C(n,k) * (n-k) / (k+1)
            num = num * (i - j) // (j + 1)
        
        print()  # New line after each row

# Example usage
print_pascals_triangle(5)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

#### Question-10

Write a function `reverse_the_words(s)` which will take a string `s` as input and reverses the words in the string. 

Example:

```python
s = "Python is awesome and challenging"
r = reverse_the_words(s)
print(r)
# Expected output: challenging and awesome is Python
```

In [12]:
# Write your code here
s = "Python is awesome and challenging"
r = s.split()
r.reverse()
#reverse_the_words(s)
str =''
for s in r:
    str+=s + ' '
print(str.rstrip())

challenging and awesome is Python

#### Bonus question

Write a function `word_counter(s)` which will take a string `s` as input and returns a dictionary with count of words (case insensitive). Remove all the punctuations and special symbols present in the string.  

Example:
```python
s = "This city is a beautiful city. This is where I live"
d = word_counter(s)

# Expected output (output can be in any order): {"this": 2, "city": 2, "is": 2, "a": 1, "beautiful": 1, "where": 1, "i": 1, "live": 1}
```

In [13]:
##Solution
s = "This city is a beautiful city. This is where I live"
liststring=s.replace('.','').lower().split()
listcount=[]
for word in liststring:
    listcount.append(liststring.count(word))
#print(liststring)
#print(listcount)
merged_list=list(zip(liststring,listcount))
#print(merged_list)
dict_pairs=dict()
dict_pairs.update(merged_list)
print(dict_pairs)
# Expected output (output can be in any order): {"this": 2, "city": 2, "is": 2, "a": 1, "beautiful": 1, "where": 1, "i": 1, "live": 1}

{'this': 2, 'city': 2, 'is': 2, 'a': 1, 'beautiful': 1, 'where': 1, 'i': 1, 'live': 1}